apiVersion: v1
kind: Service
metadata:
  name: my-app-svc
  namespace: qa-env
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer

