
apiVersion: apps/v1
kind: Deployment
metadata:
   name: pv-deployment
   labels: 
     name: myapp
spec:
  selector:
    matchLabels:
      name: myapp
  template:
    metadata:
      labels: 
        name: myapp 
    spec:
      containers:
        - name: c01
          image: nginx
          ports:
            - containerPort: 80
          volumeMounts:
            - name: mystorage
              mountPath: /usr/share/nginx/html   
      volumes:
        - name: mystorage
          persistentVolumeClaim:
            claimName: pvc   
  replicas: 5
  strategy:
    type: RollingUpdate                    